# Análisis de datos y manipulación de matrices
pandas>=2.2.0
numpy>=1.26.0

# Gráficos y visualización de datos (Paso 4)
matplotlib>=3.8.0
seaborn>=0.13.0

# Herramientas científicas y funciones estadísticas (Distribuciones de probabilidad)
scipy>=1.12.0

# Conexión y descarga de datos desde la liga de internet
requests>=2.31.0